.body {
    background: #efefef;
    color: #333;
}

.style__show {
    .card__wrap {
        transition: all .5s cubic-bezier(.67, 0, .285, 1);

        &:hover {
            -webkit-transform: skew(-10deg);
            transform: skew(-2deg);


            img {
                scale: 1.1;
            }
        }

        img {
            transition: all .5s cubic-bezier(.67, 0, .285, 1);
        }

    }
}


.card__wrap .zoom__img {
    // filter: grayscale(100%);
    // will-change: transform;
    // transform: translate3d(0px, 0px, 0px) scale3d(0.862294, 0.862294, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(11deg, -3deg);
    // transform-style: preserve-3d;
    transition: 1s;

    &:hover {
        filter: grayscale(0%);
        color: #fff;
        border: 4px solid #ff6624;
        transform: translate(10px, 10px);

    }
}

